---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre GuayaBytes 游븷"
	description="descripcion basica del juego"
	heroImage="../logoGuayabitos.png"
>
<p class="game-description">
	En un mundo cada vez m치s conectado y digitalizado, la industria del
	entretenimiento ha experimentado una evoluci칩n notoria en la forma en que las personas
	buscan emoci칩n y diversi칩n. Los videojuegos se han convertido en una parte fundamental
	de esta transformaci칩n, brindando a los jugadores experiencias interactivas y cautivadoras
	que van m치s all치 de la simple diversi칩n
</p>	
<p class="game-description">
    Guayabytes es un juego tradicional colombiano de azar para 2 o 
	m치s jugadores con diferentes 
	etapas del desarrollo, desde la conceptualizaci칩n hasta la publicaci칩n, 
	incluyendo herramientas y recursos necesarios, 
	las estrategias de monetizaci칩n y dem치s aspectos relevantes para llevar este juego 
	cl치sico al mundo digital.
</p>
<p class="game-description">
	Justificaci칩n
	Los juegos tradicionales son parte de la cultura de muchos pueblos y comunidades,
	y su digitalizaci칩n ayuda a preservarlos para las generaciones futuras. Esto es
	especialmente importante para los juegos que est치n en peligro de extinci칩n o que
	representan tradiciones de pa칤ses subdesarrollados debido a que la globalizaci칩n y la
	difusi칩n de la tecnolog칤a digital no tiene el foco en ellos
</p>
<p class="game-description">
	El 치rea de los videojuegos inicia en los a침os 50, estos han pasado de ser un
	pasatiempo de j칩venes a j칩venes estudiantes de ingenier칤a a estar entre la industria de
	ocio m치s poderosa. El matem치tico brit치nico Allan Turing en el a침o 1.952 pone a prueba
	un programa de ajedrez, el cual ya se centraba en un 치mbito acad칠mico y no en un 치rea
	de entretenimiento; en el a침o 1.977 la firma ATARI, lanza el primer cartucho que
	conten칤a videojuegos y causa preocupaci칩n sobre la conducta e influencia que causan
	los videojuegos a los ni침os. (Belli & Lopez Ravent칩s, 2.008)
</p>
<p class="game-description">
	Idea desarrollada por estudiantes de la carrera de ingenieria de sistemas de la 
	Institucion Universitaria de colombia IUDC
</p>

</Layout>
