---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre GuayaBytes 游븷"
	description="descripcion basica del juego"
	heroImage="../logoGuayabitos.png"
>
<p class="game-description">
    Guayabytes es un juego tradicional colombiano de azar para 2 o 
	m치s jugadores con diferentes 
	etapas del desarrollo, desde la conceptualizaci칩n hasta la publicaci칩n, 
	incluyendo herramientas y recursos necesarios, 
	las estrategias de monetizaci칩n y dem치s aspectos relevantes para llevar este juego 
	cl치sico al mundo digital.
</p>
<p class="game-description">
	Idea desarrollada por estudiantes de la carrera de ingenieria de sistemas de la 
	Institucion Universitaria de colombia IUDC
</p>

</Layout>
