---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Como Jugar... 🤷"
	description="Lorem ipsum dolor sit amet"
	heroImage="/logo.png"
>
	<p>
		https://guayabytes.netlify.app/
	</p>
	<p class="game-description">
		La mecánica del juego es sencilla pero desafiante, todo se detalla a continuación:
	</p>
	<p class="game-description">
		Los jugadores acuerdan una apuesta inicial antes de comenzar el juego, denominada "case".
	</p>
	<p class="game-description">
		En cada turno, un jugador lanza un dado y luego decide cuánto dinero apostar, 
		eligiendo entre una apuesta baja, media, alta o la totalidad del pozo, el valor 
		del pozo inicial es la suma de todos los “cases” de los participantes.
	</p>
	<p class="game-description">
		Después de realizar la apuesta, el jugador lanza nuevamente el dado. 
		Si el número obtenido es menor o igual al lanzamiento anterior, 
		el jugador pierde y debe agregar la cantidad apostada al pozo. 
		En caso contrario, el jugador gana y recoge lo apostado.
	</p>
	<p class="game-description">
		El siguiente jugador continúa con la misma mecánica, utilizando el 
		valor restante en el pozo. Si un jugador gana el 100% del valor del pozo, 
		todos los jugadores vuelven a realizar un "case" para comenzar una nueva ronda.
	</p>
	<p class="game-description">
		Si en el primer lance el jugador obtiene 1 o 6 inmediatamente el jugador 
		pierde y debe aportar el dinero del case al pozo terminando su turno.
	</p>
	<hr>
	<p class="game-description">Estrategias del juego </p>
	<h2 class="game-description">
		Existe una serie de estrategias que pueden ser utilizadas, 
		a continuación, son relacionadas:
	</h2>
	<p class="game-description">
		Gestión de la apuesta: Los jugadores deben decidir estratégicamente 
		cuánto apostar en cada turno, considerando tanto el riesgo de perder 
		como la posibilidad de ganar. Pueden optar por apostar una cantidad 
		menor si el resultado del primer lanzamiento es alto, o arriesgarse 
		con una apuesta más alta si el resultado es bajo.
	</p>
	<p class="game-description">
		Observación del juego: Observar los resultados de los lanzamientos 
		anteriores puede ayudar a los jugadores a tomar decisiones más 
		informadas sobre sus apuestas. Si un jugador anterior ha perdido 
		con un resultado alto, los siguientes jugadores pueden decidir apostar 
		menos si obtienen un resultado similar.
	</p>
	<p class="game-description">
		Estrategia de conservación y agresión: Los jugadores pueden adoptar 
		una estrategia conservadora, apostando cantidades pequeñas para minimizar 
		las pérdidas, o una estrategia más agresiva, arriesgando más para obtener 
		mayores ganancias.
	</p>
	<p class="game-description">
		Colaboración o competencia: Dependiendo del grupo de jugadores, 
		pueden surgir estrategias colaborativas o competitivas. 
		Algunos jugadores pueden optar por colaborar para mantener el pozo grande 
		y aumentar las ganancias para todos, mientras que otros pueden adoptar una 
		mentalidad más competitiva, tratando de ganar más que los otros jugadores.
	</p>
	<p class="game-description">
		Control emocional: Mantener la calma y tomar decisiones racionales en 
		cada turno es crucial. Los jugadores deben evitar dejarse llevar por la 
		emoción y la impulsividad, especialmente después de una serie de victorias o derrotas.
	</p>

</Layout>
